######## {{ appname }}  ################
$ModLoad imfile
$InputFileName /vc/{{ appname }}/current/logs/catalina.out
$InputFileTag Fasttracktomcat:
$InputFileStateFile Fasttrack
$InputFileSeverity debug
$InputRunFileMonitor